
.home-section{
  background: #E4E9F7;
}
.creditos{
    bottom: 0;
}
/* .background{
  /* position: relative; 
  width: 100vw;
  height: 100vh; 
  padding: 100px; 
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .background::before{
content: "";
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background: linear-gradient(to top, #1c0522,transparent);
z-index: 1000;
} */
.text{
  padding-top:100px ;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.card{
  width: 200px !important;
  height: 100px;
}
.bImage{
  width: 100%;
}

@media (max-width: 400px) {
  .sidebar{
    width: 78px;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
}
