.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 140px;
}

.carta {
    width: 200px !important;
    padding: 6px;
    margin: 15px;
    flex-wrap: wrap;
    background: #1a151e;
}

.cardImage {
    width: 100%;
}