<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("./partials/head") -%>
    <link rel="stylesheet" href="/css/cards.css">
    <title>Document</title>
</head>

<body>
  <%- include("./partials/header") -%>
    <section class="cards">
      <div class="carta" >
        <div id="card1">
          <img src="images/cards/aquarius.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card2">
          <img src="images/cards/aries.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card3">
          <img src="images/cards/cancer.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card4">
          <img src="images/cards/capricornio.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card5">
          <img src="images/cards/geminis.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card6">
          <img src="images/cards/leo.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card7">
          <img src="images/cards/libra.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card8">
          <img src="images/cards/piscis.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card9">
          <img src="images/cards/Sagitario.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card10">
          <img src="images/cards/scorpio.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card11">
          <img src="images/cards/taurus.png" alt="stars" class="cardImage" >
        </div>
      </div>
      <div class="carta" >
        <div id="card12">
          <img src="images/cards/virgo.png" alt="stars" class="cardImage" >
        </div>
      </div>
    </section>
    <%- include("./partials/footer") -%>
      <script>
        let card1 = document.getElementById("card1")
        let card2 = document.getElementById("card2")
        let card3 = document.getElementById("card3")
        let card4 = document.getElementById("card4")
        let card5 = document.getElementById("card5")
        let card6 = document.getElementById("card6")
        let card7 = document.getElementById("card7")
        let card8 = document.getElementById("card8")
        let card9 = document.getElementById("card9")
        let card10 = document.getElementById("card10")
        let card11 = document.getElementById("card11")
        let card12 = document.getElementById("card12")
        
        let cards = [card1, card2, card3, card4, card5, card6, card7, card8, card9, card10, card11, card12]

        cards.forEach(function (valor, indice, array) {
          valor.addEventListener("click", function () {
            cards.forEach(function (valor1, indice1, array1) {
              valor1.classList.remove("active1")
            })
            valor.classList.add("active1")
            console.log(valor)
          })
        });
        // cards.forEach(function (valor, indice, array) {
        //   valor.addEventListener("mouseout", function () {
        //     valor.classList.remove("active1")
        //     console.log(valor)
        //   })
        // });

      </script>
      <%- include("./partials/scripts") -%>
</body>

</html>