<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header") -%>
    <section class="cards">
        <div class="carta">
          <img src="images/cards/aquarius.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/aries.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/cancer.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/capricornio.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/geminis.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/leo.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/libra.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/piscis.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/Sagitario.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/scorpio.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/taurus.png" alt="stars" class="cardImage">
        </div>
        <div class="carta">
          <img src="images/cards/virgo.png" alt="stars" class="cardImage">
        </div>
      </section>
</body>
</html>