<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("./partials/head") -%>
    <link rel="stylesheet" href="/css/cards.css">
    <title>Document</title>
</head>

<body>
  <%- include("./partials/header") -%>
    <section class="cards">
      <div class="carta">
        <img src="images/cards/aquarius.png" alt="stars" class="cardImage" id="card1">
      </div>
      <div class="carta">
        <img src="images/cards/aries.png" alt="stars" class="cardImage" id="card2">
      </div>
      <div class="carta">
        <img src="images/cards/cancer.png" alt="stars" class="cardImage" id="card3">
      </div>
      <div class="carta">
        <img src="images/cards/capricornio.png" alt="stars" class="cardImage" id="card4">
      </div>
      <div class="carta">
        <img src="images/cards/geminis.png" alt="stars" class="cardImage" id="card5">
      </div>
      <div class="carta">
        <img src="images/cards/leo.png" alt="stars" class="cardImage" id="card6">
      </div>
      <div class="carta">
        <img src="images/cards/libra.png" alt="stars" class="cardImage" id="card7">
      </div>
      <div class="carta">
        <img src="images/cards/piscis.png" alt="stars" class="cardImage" id="card8">
      </div>
      <div class="carta">
        <img src="images/cards/Sagitario.png" alt="stars" class="cardImage" id="card9">
      </div>
      <div class="carta">
        <img src="images/cards/scorpio.png" alt="stars" class="cardImage" id="card10">
      </div>
      <div class="carta">
        <img src="images/cards/taurus.png" alt="stars" class="cardImage" id="card11">
      </div>
      <div class="carta">
        <img src="images/cards/virgo.png" alt="stars" class="cardImage" id="card12">
      </div>
    </section>
    <%- include("./partials/footer") -%>
      <script>
        let card1 = document.getElementById("card1")
        let card2 = document.getElementById("card2")
        let card3 = document.getElementById("card3")
        let card4 = document.getElementById("card4")
        let card5 = document.getElementById("card5")
        let card6 = document.getElementById("card6")
        let card7 = document.getElementById("card7")
        let card8 = document.getElementById("card8")
        let card9 = document.getElementById("card9")
        let card10 = document.getElementById("card10")
        let card11 = document.getElementById("card11")
        let card12 = document.getElementById("card12")
        let cards = [card1, card2, card3, card4, card5, card6, card7, card8, card9, card10, card11, card12]

        cards.forEach(function (valor, indice, array) {
          valor.addEventListener("mouseover", function () {
            console.error("HOLAAA");
          })
        });



        // window.addEventListener("mouseover", function () {
        //   if (value > 0) {
        //     header.classList.add("active")
        //   }
        //   else if () {
        //     header.classList.remove("active")
        //   }
        //   console.log(value)

        //   body.style.background = `radial-gradient(ellipse at bottom, rgb(0, 0, 0) 0%, rgb(12, 41, 65) ${80 + 10 * (value * 0.03)}%)`
        // })
      </script>
      <%- include("./partials/scripts") -%>
</body>

</html>