<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!----======== CSS ======== -->
  
  <%- include("./partials/head") -%>
  <link rel="stylesheet" href="/css/style.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <title>Document</title>
</head>

<body id="body1">
  <%- include("./partials/header") -%>
    <section class="background">
      <div class="starImages">
        <img src="images/background/starsWConst.png" alt="backgroundWStars" class="backStars">
      </div>
      <div class="movingStars">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
      </div>
      <div class="firstLook">
        <div class="welcome" id="head1">
          <h1>Bienvenido!!</h1>
        </div>
      </div>
    </section>
    <section class="cards">
      <div class="carta">
        <img src="images/cards/aquarius.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/aries.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/cancer.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/capricornio.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/geminis.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/leo.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/libra.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/piscis.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/Sagitario.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/scorpio.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/taurus.png" alt="stars" class="cardImage">
      </div>
      <div class="carta">
        <img src="images/cards/virgo.png" alt="stars" class="cardImage">
      </div>
    </section>
    <h1 class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut molestiae quod autem repellat id omnis
      atque adipisci odio molestias, suscipit, aliquid dignissimos itaque pariatur accusamus distinctio voluptates
      reprehenderit nesciunt minus?</h1>
    <div class="creditos" style="display: none;"><a href='https://www.freepik.com/vectors/blue-galaxy'>Blue galaxy
        vector created by coolvector -
        www.freepik.com</a></div>

    <%- include("./partials/footer") -%>

</body>
<div class="scripts">
  <%- include("./partials/scripts") -%>
</div>

</html>