<header id="head">
  <div class="container1" id="barra">
    <div class="logo-box">
      <a href="/">
        <img src="https://html5book.ru/wp-content/uploads/2015/01/logo-header.png">
      </a>
    </div>
    <nav class="nav1">
      <ul>
        <li><a href="/">Pagina Principal</a></li>
        <li><a href="/cards">Carta</a></li>
        <li><a href="">product</a></li>
        <li><a href="/cursos">cursos</a></li>
        <li><a href="">contact</a></li>
        <li><a href="/user/login">Iniciar Sesion</a></li>
      </ul>
    </nav>
  </div>
</header>