<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!----======== CSS ======== -->
  
  <link rel="stylesheet" href="/css/bootstrap/bootstrap-grid.css">
  <link rel="stylesheet" href="/css/bootstrap/bootstrap-reboot.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css.map">
  <link rel="stylesheet" href="/css/style.css">
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <title>Document</title>
</head>

<body>
  <header id="head">
    <div class="container1" id="barra">
      <div class="logo-box">
        <a href="/">
          <img src="https://html5book.ru/wp-content/uploads/2015/01/logo-header.png">
        </a>
      </div>
      <nav class="nav1">
        <ul>
          <li><a href="">Pagina Principal</a></li>
          <li><a href="">Carta</a></li>
          <li><a href="">product</a></li>
          <li><a href="">about</a></li>
          <li><a href="">contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="background">
    <img src="images/background/backgroundClear.png" alt="backgroundWOStars" class="backStars back1">
    <img src="images/background/starsWConst.png" alt="backgroundWStars" class="backStars">
  </section>
  <section class="cards">
    <div class="carta">
      <img src="images/cards/aquarius.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/aries.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/cancer.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/capricornio.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/geminis.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/leo.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/libra.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/piscis.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/Sagitario.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/scorpio.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/taurus.png" alt="stars" class="cardImage">
    </div>
    <div class="carta">
      <img src="images/cards/virgo.png" alt="stars" class="cardImage">
    </div>
  </section>
  <h1 class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut molestiae quod autem repellat id omnis
    atque adipisci odio molestias, suscipit, aliquid dignissimos itaque pariatur accusamus distinctio voluptates
    reprehenderit nesciunt minus?</h1>
  <div class="creditos" style="display: none;"><a href='https://www.freepik.com/vectors/blue-galaxy'>Blue galaxy vector created by coolvector -
      www.freepik.com</a></div>

      <footer class="footer-20192">
        <div class="site-section">
          <div class="container">
  
            <div class="cta d-block d-md-flex align-items-center px-5">
              <div>
                <h2 class="mb-0">Ready for a next project?</h2>
                <h3 class="text-dark">Let's get started!</h3>
              </div>
              <div class="ml-auto">
                <a href="#" class="btn btn-dark rounded-0 py-3 px-5">Contact us</a>
              </div>
            </div>
            <div class="row">
  
              <div class="col-sm">
                <a href="#" class="footer-logo">Colorlib</a>
                <p class="copyright">
                  <small>&copy; 2019</small>
                </p>
              </div>
              <div class="col-sm">
                <h3>Customers</h3>
                <ul class="list-unstyled links">
                  <li><a href="#">Buyer</a></li>
                  <li><a href="#">Supplier</a></li>
                </ul>
              </div>
              <div class="col-sm">
                <h3>Company</h3>
                <ul class="list-unstyled links">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </div>
              <div class="col-sm">
                <h3>Further Information</h3>
                <ul class="list-unstyled links">
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h3>Follow us</h3>
                <ul class="list-unstyled social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-medium"></span></a></li>
                  <li><a href="#"><span class="icon-paper-plane"></span></a></li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
      </footer>

</body>
<div class="scripts">
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
    let navbar = document.getElementById("barra")
    let header = document.getElementById("head")
    window.addEventListener("scroll", function () {
      let value = this.scrollY;
      if (value > 0) {
        header.classList.add("active")
      }
      else {
        header.classList.remove("active")
      }
  
    })
  </script>
</div>
</html>