<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!----======== CSS ======== -->
  <link rel="stylesheet" href="/css/style.css">

  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <title>Document</title>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Proyect</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-line-chart'></i>
          <span class="link_name">Chart</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Chart</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-line-chart'></i>
          <span class="link_name">About</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">about</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu'></i>
      <span class="text">Drop Down Sidebar</span>
    </div>
  </section>
  <section class="cards">
    <div class="card">
      <img src="images/aquarius.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/aries.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/cancer.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/capricornio.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/geminis.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/leo.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/libra.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/piscis.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/Sagitario.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/scorpio.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/taurus.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/virgo.png" alt="stars" class="bImage">
    </div>
  </section>
  <h1 class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut molestiae quod autem repellat id omnis atque adipisci odio molestias, suscipit, aliquid dignissimos itaque pariatur accusamus distinctio voluptates reprehenderit nesciunt minus?</h1>
  

  <script>
  </script>
<div class="creditos"><a href="https://www.freepik.com/vectors/cartoon-street">Cartoon street vector created by upklyak - www.freepik.com</a></div>
</body>

</html>