<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!----======== CSS ======== -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.slim.min.js">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>-->
  <link rel="stylesheet" href="/css/style.css">
  
  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <title>Document</title>
</head>

<body>
  <header id="head">
    <div class="container" id="barra">
      <div class="logo-box">
        <a href="/">
          <img src="https://html5book.ru/wp-content/uploads/2015/01/logo-header.png">
        </a>
      </div>
      <nav>
      <ul>
        <li><a href="">home</a></li>
        <li><a href="">work</a></li>
        <li><a href="">product</a></li>
        <li><a href="">about</a></li>
        <li><a href="">contact</a></li>
     </ul>
    </nav>
    </div>
  </header>
  <section class="cards">
    <div class="card">
      <img src="images/aquarius.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/aries.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/cancer.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/capricornio.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/geminis.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/leo.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/libra.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/piscis.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/Sagitario.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/scorpio.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/taurus.png" alt="stars" class="bImage">
    </div>
    <div class="card">
      <img src="images/virgo.png" alt="stars" class="bImage">
    </div>
  </section>
  <script>
    let navbar = document.getElementById("barra")
    let header = document.getElementById("head")
    window.addEventListener("scroll", function(){
      let value = this.scrollY;
      console.log(value)
      if (value > 0 ) {
        header.classList.add("active")
      }
      else {
        header.classList.remove("active")
      }
     
    })
  </script>
  <h1 class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut molestiae quod autem repellat id omnis atque adipisci odio molestias, suscipit, aliquid dignissimos itaque pariatur accusamus distinctio voluptates reprehenderit nesciunt minus?</h1>
<div class="creditos"><a href='https://www.freepik.com/vectors/blue-galaxy'>Blue galaxy vector created by coolvector - www.freepik.com</a></div>
</body>

</html>